.spe-head {
    align-self: center !important;
    min-height: 0px !important;
}

.spe-head-cards-container {
    max-width: 100% !important;
    overflow: scroll !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
}

.spe-head-cards-container::-webkit-scrollbar {
    display: none;
}

.spe-slider-cards {
    height: 228px !important;
    width: 153px !important;
}

.weekly-spotligt {
    /* min-width: 400px; */
    flex: 1.3;
    align-self: baseline;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 27px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    min-height: 845px;
    max-height: 846px;
    overflow: hidden;
}