.trending-container {
    min-width: 400px;
    flex: 1;
    align-self: baseline;

    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    margin-left: 10px;
    height: 100%;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 20px;

    min-height: 840px;
    max-height: 846px;
}

.header {
    font-size: 1.8em;
    padding-bottom: 10px;
    margin-left: 5px;
    font-weight: bold;
    border-bottom: 4px solid rgb(255, 124, 255);
    color: #333;

    padding-left: 0px;

}

.wraper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;

    position: relative;
}

.trending-cards {
    height: 133px;
    min-width: 104px;

    background-color: #333;
    border-radius: 15px;

    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trending-cards:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}


.cards-info {
    flex: 1;
    flex-direction: column;


    background-color: rgb(236, 237, 238);
    height: 133px;
    border-radius: 15px;

    display: flex;

    font-family: sans-serif;
    position: relative;
}

.extra-info {
    /* background-color: rgb(85, 82, 78); */
    position: absolute !important;
    bottom: 5px !important;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}

.spe-stars {
    margin-left: 10px;
}

.view {
    display: flex;
    align-items: center;
    gap: 5px;

    margin-right: 8px;
}

.view-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 20px;
}

.view-icon>img {
    height: inherit;
    width: inherit;
}

.trending-cards-title {

    font-weight: bold;
    /* margin-left: 1.2px; */
    margin-left: 13px;
    text-align: left;
    margin-top: 10px;
    font-size: 1.4em;
    max-width: 220px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
}

.trending-card-tags {
    /* height: 20px; */
    width: fit-content;
    margin-left: 5.5px;

    display: flex;
    padding: 4px;
    gap: 8px;
    /* background-color: #333; */
    color: #191919;
    transform: scale(0.9);
    margin-top: 5px;
}

.trending-tag {
    border-radius: 5px;
    border: 1px solid #494949;
    padding: 4px 8px;
    font-size: 0.75em;
    background-color: #f7f7f7;
}


.first {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trending-cards-wrapper {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: column;
}

@media (max-width: 808px) {
    .cards-info {
        width: 200px;
    }

    .trending-container {
        padding: 10px !important;
        margin-left: 0px !important;

        min-width: 338px !important;
        margin-top: 0px !important;
        min-height: 380px !important;
    }

    .trending-cards-title {
        font-size: 1.2em !important;
        margin-left: 1.2px;

        position: relative;
        left: 7px;
        transform: scale(0.95);
    }

    .trending-card-tags {
        margin-left: 2px !important;
        margin-top: 0px !important;
    }

    .trending-cards-wrapper {
        max-height: 400px;
        /* max-height: 456px; */
        overflow-y: scroll;
        padding-bottom: 5px;
    }
}

@media (max-width: 1113px) and (min-width: 639px) {
    .cards-info {
        width: 237px;
    }
}

/* ---------  IPAD styling --------- */

@media (max-width: 630px) and (min-width: 352px) {
    .second-last-container {
        max-width: none !important;
    }

    .down-light {
        width: 100% !important;
        max-width: 740px !important;
    }

    .weekly-spotlight-cards-container {
        width: auto !important;
    }

    .cards-info {
        height: 147px;
    }

    .weekly-spotlight-cards {
        height: 242px;
        /* width: 165px; */
        width: 162px;
    }

    .trending-cards {
        height: 150px;
        min-width: 124px;

    }

    
    .last-container{
        width: 97%;
    }
}

@media (min-width: 344px) and (max-width: 360px) {
    .trending-container {
        max-width: 344px;
    }
}